Package: com.redvaldez.bigbird
Name: BigBird
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Red Valdez
Author: Red Valdez
Section: Tweaks
